<article>
    <h1 id="title">THIS IS A TITLE</h1>
    <div class="content-wrapper">
        <div class="content">
            <div class="overlay">
                <h1>FULL ARTICLE</h1>
            </div>
            <h2 id="subtitle">This is a subtitle</h2>
            <div id="body">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad aperiam iste sed culpa corporis ab
                    incidunt? Reiciendis magnam corrupti, nostrum amet voluptatem expedita, quia similique sequi
                    eos, ex fuga voluptas!</p>
            </div>
        </div>
    </div>
    <h6 class="timestamp">01/01/2000</h6>
</article>